* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: left;
}
.prompt__buttons {
    /* display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    overflow-x: scroll !important; */
    display: inline-flex;
align-items: flex-start;
gap: 12px;
overflow: scroll;
white-space: pre;

}

.prompt:hover {
    border: black 1px solid;
    display: inline-block;
  text-align: center;

  text-decoration: none;

}

.prompt {
    border-radius: 30px;
    overflow: auto;
    border: black 1px solid;
}

/* .openButton {
    background-color: beige;
    margin-top: 270px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 25000px;
border: 1px solid #1D1D1B;
} */

/* .mainDiv {
    text-align: left;
} */

.message-container {
    display: flex;
    align-items: end;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
    justify-content: space-between;
    overflow-x: scroll;
  
}

.message-avatar-right {
    margin-right: 5px;
    
}

.message-avatar-left {
    order: 2; 
    margin-left: 5px;
}

.cs-message__content {
    background-color: #F0F0F0;
    border-radius: 20px;
}


/* .cs-message.cs-message--outgoing {
    background-color: #3982F7 !important; 
} */
/* #chatContainer .cs-message.cs-message--outgoing {
    background-color: #3982F7 !important; 
} */

/* .cs-message--outgoing {
    background-color: red !important; 
    border-radius: 16px; 
    border: 1px solid #ffaa33; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-width: 80%;
    margin: 8px; 
}   */

.cs-message--outgoing .cs-message__content {
    background-color: #3982F7 !important;
    border-radius: 20px;
    margin: 8px;
    color: white;
}

.cs-message-input__content-editor-wrapper::before {
    color: red !important;
}

/* //get rid of times DONE
//white text on blue DONE
//25px between each message DONE
//click state blue then message afterwards full blue background 
//left aligned bottom input text and grey box
//all text left aligned DONE
//get rid of status  DONE*/
