@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.prompt__buttons {
   display: inline-grid;
   grid-template-columns: auto 20px;
   grid-template-columns: auto auto;
   margin-top: 120px;
   column-gap: 30px;
   row-gap: 10px;
   
}

.prompt:hover {
    border: blue 2px solid;
}


.openButton {
    background-color: beige;
    margin-top: 270px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

/* .mainDiv {
    text-align: left;
} */

.message-container {
    display: flex;
    align-items: end;
    margin-bottom: 6px;
    margin-top: 6px;
    justify-content: space-between;
}

.message-avatar-right {
    margin-right: 5px;
    
}

.message-avatar-left {
    order: 2; 
    margin-left: 5px;
}




