* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: left;
}
.prompt__buttons {
    /* display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    overflow-x: scroll !important; */
    display: inline-flex;
align-items: flex-start;
gap: 12px;
overflow: scroll;
white-space: pre;

}

.prompt:hover {
    border: black 1px solid;
    display: inline-block;
  text-align: center;

  text-decoration: none;

}

.prompt {
    border-radius: 30px;
    overflow: auto;
    border: black 1px solid;
}

/* .openButton {
    background-color: beige;
    margin-top: 270px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 25000px;
border: 1px solid #1D1D1B;
} */

/* .mainDiv {
    text-align: left;
} */

.message-container {
    display: flex;
    align-items: end;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
    justify-content: space-between;
    overflow-x: scroll;
  
}

.message-avatar-right {
    margin-right: 5px;
    
}

.message-avatar-left {
    order: 2; 
    margin-left: 5px;
}

.cs-message__content {
    background-color: #F0F0F0;
    border-radius: 20px;
}


/* .cs-message.cs-message--outgoing {
    background-color: #3982F7 !important; 
} */
/* #chatContainer .cs-message.cs-message--outgoing {
    background-color: #3982F7 !important; 
} */

/* .cs-message--outgoing {
    background-color: red !important; 
    border-radius: 16px; 
    border: 1px solid #ffaa33; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-width: 80%;
    margin: 8px; 
}   */

.cs-message--outgoing .cs-message__content {
    background-color: #3982F7 !important;
    border-radius: 20px;
    margin: 8px;
    color: white;
}

.cs-message-input {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    flex-shrink: 0;
  }
  .cs-message-input__content-editor-wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0.6em 0.9em;
    border-radius: 0.7em;
    flex-grow: 1;
  }
  .cs-message-input--disabled .cs-message-input__content-editor-wrapper {
    background-color: rgba(198, 227, 250, 0.38);
    color: rgba(0, 0, 0, 0.6);
  }
  .cs-message-input__content-editor-container {
    box-sizing: border-box;
    position: relative;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.94em;
    line-height: 1.35em;
    min-height: 1.35em;
    max-height: 5.4em;
    padding: 0em 0em 0em 0em;
    scroll-padding: 0em;
  }
  .cs-message-input--disabled .cs-message-input__content-editor-container {
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
  }
  .cs-message-input__content-editor {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #F0F0F0;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    outline: 0;
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    overflow: visible;
    color: rgba(0, 0, 0, 0.87);
    overflow-wrap: anywhere;
    word-break: break-word;
  }
  .cs-message-input--disabled .cs-message-input__content-editor {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
  }
  .cs-message-input__content-editor[data-placeholder]:empty:before {
    box-sizing: border-box;
    content: attr(data-placeholder);
    color: rgba(0, 0, 0, 0.38);
    display: block;
    cursor: text;
  }
  .cs-message-input__tools {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .cs-message-input__tools .cs-button {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .cs-message-input__tools .cs-button--send {
    align-self: flex-end;
  }
  .cs-message-input__tools .cs-button--attachment {
    align-self: flex-end;
  }
  .cs-message-input__tools:first-child .cs-button:first-child {
    margin-left: 0;
  }
  .cs-message-input__tools:first-child .cs-button:last-child {
    margin-right: 0;
  }
  .cs-message-input__tools:last-child .cs-button:first-child {
    margin-left: 0;
  }
  .cs-message-input__tools:last-child .cs-button:last-child {
    margin-right: 0;
  }
  
  .cs-input-toolbox {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0 0 0.4em 0;
  }
  .cs-input-toolbox .cs-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    margin: 0 0.5em 0 0;
    font-size: 1.2em;
  }