
.wrapper {
    padding:2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
  }
  
  .wrapper:hover {
    cursor: pointer;
    background-color: grey;
  }